@use '../abstract/variaveis';
@use '../abstract/mixins';

.cliente-tarefa{
    margin-top: 16rem;
    margin-bottom: 10rem;
    padding: 0 3rem;

    .cliente-tarefa__container{
        @include mixins.flex-container;
        gap: 77px;
        padding: 2rem 0;

        .cliente-tarefa__titulo{
            @include mixins.titulo-32px;
            font-weight: 700;
        }

        .cliente-tarefa__texto{
            max-width: 580px;
            @include mixins.texto-16px; 
            font-style: normal;
            font-weight: 400;
            line-height: 200%; /* 32px */
        }
    }
}