@use '../abstract/variaveis';
@use '../abstract/mixins';

.contexto{
    padding: 0 3rem;
    div:nth-child(1){
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: calc(130px - 3rem);
        gap: 2rem;
        margin-bottom: 4rem;

        .contexto__container{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;

            .contexto__titulo{
                @include mixins.titulo-32px; 
                font-style: normal;
                font-weight: 900;
                line-height: 200%; /* 64px */
            }

            .contexto__texto{
                max-width: 560px;
                @include mixins.texto-16px; 
                font-style: normal;
                font-weight: 400;
                line-height: 200%; /* 32px */
            }
        }
        img{
            width: 100%;
            max-width: 366px;
            box-shadow: 300px -60px 1px variaveis.$amarelo-fundo;
        }
    }
    div:nth-child(2){
        @include mixins.flex-container;
        gap: 2rem;
        margin-bottom: 140px;
        flex-wrap: wrap;
        .contexto__container-porcentagem{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            gap: 0;

            .contexto__porcentagem{
                @include mixins.titulo-32px; 
                font-style: normal;
                font-weight: 900;
                line-height: 200%; /* 64px */
            }

            .contexto__porcentagem-texto{
                max-width: 365px;

                @include mixins.texto-16px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%; /* 32px */
            }
        }
    }

    @include mixins.responsivo(1000px){
        div:nth-child(1){
            flex-direction: column;
            margin-left: 0;
        }
        
    }
}