@use '../abstract/variaveis';
@use '../abstract/mixins';

.juliana{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    margin-top: 10rem;
    gap: 2rem;

    .juliana__container{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 1rem;

        .juliana__container-1{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            h2{
                @include mixins.ff-fs-cl(variaveis.$ft-titulo, 32px, variaveis.$preto);
                font-style: normal;
                font-weight: 900;
                line-height: 200%; /* 64px */
            }

            div{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                p{
                    @include mixins.ff-fs-cl(variaveis.$ft-texto, 1rem, variaveis.$preto); 
                    font-style: normal;
                    font-weight: 400;
                    line-height: 200%; /* 32px */;
                    max-width: 463px;
                }
            }
        }

        .juliana__container-2{
            display: flex;
            align-self: flex-end;
            gap: 2rem;
            
            ul.juliana__container-lista{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .juliana__container-lista-item-titulo{
                    @include mixins.ff-fs-cl(variaveis.$ft-texto, 1rem, variaveis.$preto); 
                    font-style: normal;
                    font-weight: 700;
                    line-height: 200%;
                }

                .juliana__container-lista-item{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 1rem;

                    p{
                        @include mixins.ff-fs-cl(variaveis.$ft-texto, 1rem, variaveis.$preto);
                        max-width: 200px;
                    }
                }
            }
        }
    }
}

@include mixins.responsivo(1000px){
    .juliana{
        flex-direction: column;
        gap: 3rem;
    }
}