@use 'variaveis';

@mixin ff-fs-cl($font-family, $font-size, $color){
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
}

@mixin flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsivo($max){
    @media (max-width: $max){ @content };
}

@mixin texto-16px(){
    font-size: 1rem;
    color: variaveis.$preto;
    font-family: variaveis.$ft-texto;
}

@mixin titulo-32px(){
    font-size: 2rem;
    color: variaveis.$preto;
    font-family: variaveis.$ft-titulo;
}

@mixin texto-14px(){
    font-size: 14px;
    color: variaveis.$preto;
    font-family: variaveis.$ft-texto;
}

@mixin titulo-29px(){
    font-size: 29px;
    color: variaveis.$preto;
    font-family: variaveis.$ft-titulo;
}